.mainBackground {
    background: #1D1D1D;
}

/* FILM STRIP */
.scroll {
    position: relative;
    display: flex;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,#fff 20%,#fff 80%,transparent)
}
.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) / -1);
}
.scroll div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}
@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.filmStrip div {
    display: inline-flex;
}

.filmStrip img {
    max-width: 360px;
}

.quoteBox div {
    display: inline-flex;
}

.quoteBox img {
    min-height: 180px;
    min-width: 269px;
    max-height: 180px;
    max-width: 269px;
    margin: 10px;
    border-radius: 45px;
    box-shadow: 0px 0px 40px 0px #000 inset;
}

/* TABS */
.stripShadow {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(29, 29, 29, 0.00) 100%);
}

#tabBar h6 {
    font-family: 'Courier Prime';
    color: white;
    font-size: 1.3vw;
}

.glow-text {
    position: relative;
    transition: text-shadow 0.6s ease-in-out, border-bottom 0.6s ease-in-out;
}

.glow-text:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
    border-bottom: 3px solid transparent;
}

.glow-text:hover::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #fff);
    animation: underline-appear 0.6s ease-in-out forwards;
}

@keyframes underline-appear {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

#tabBarIcons img{
    width: 15px;
    height: 15px;
}

/* Hover Text Gray*/
.hoverTextGray {
    transition: 0.35s color;
    color: #555;
    font-size: 6vw;
    line-height: 6.5vw;
}

.hoverTextGray:hover {
    color: #ffffff;
}

.hoverTextGray:hover + .hoverTextGray {
    color: #aaa;
}

.hoverTextGray:hover + .hoverTextGray + .hoverTextGray {
    color: #7a7a7a;
}

.hoverTextGray:has(+ .hoverTextGray:hover) {
    color: #aaa;
}

.hoverTextGray:has(+ .hoverTextGray + .hoverTextGray:hover) {
    color: #7a7a7a;
}

/* Hover Text Red*/
.hoverTextRed {
    transition: 0.35s color;
    color: #820000;
}

.hoverTextRedLG {
    font-size: 9vw;
    line-height: 9vw;
}

.hoverTextRedSM {
    font-size: 6vw;
    line-height: 6vw;
}

.hoverTextRed:hover {
    color: #ff0000;
}

.hoverTextRed:hover + .hoverTextRed {
    color: #d50000;
}

.hoverTextRed:hover + .hoverTextRed + .hoverTextRed {
    color: #a10000;
}

.hoverTextRed:has(+ .hoverTextRed:hover) {
    color: #d50000;
}

.hoverTextRed:has(+ .hoverTextRed + .hoverTextRed:hover) {
    color: #a10000;
}

@media (max-width: 825px) {
    .hoverTextGray {
        color: #aaa;
    }
    
    .hoverTextGray:hover {
        color: #aaa;
    }
    
    .hoverTextGray:hover + .hoverTextGray + .hoverTextGray {
        color: #aaa;
    }
    
    .hoverTextGray:has(+ .hoverTextGray + .hoverTextGray:hover) {
        color: #aaa;
    }

    .hoverTextRed {
        color:#d50000;
    }

    .hoverTextRed:hover {
        color: #d50000;
    }
    
    .hoverTextRed:hover + .hoverTextRed + .hoverTextRed {
        color: #d50000;
    }
    
    .hoverTextRed:has(+ .hoverTextRed + .hoverTextRed:hover) {
        color: #d50000;
    }
}

/* TIMELINE */
#timelineHeader h1 {
    font-family: 'Akira Expanded Demo';
    font-size: 0;
}

/* Start progress bar */
#progress-bar-container {
    display: block;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: 100px;
    margin-top: 65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9998;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
}

@media (max-width: 990px) {
    #progress-bar-container li:before {
      scale: 0.8;
    }
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #d50000;
	background: #d50000;
    scale: 1.10;
    transition: transform 0.3s ease;
}

@media (max-width: 990px) {
    #progress-bar-container li.active:before, #progress-bar-container li:hover:before {
      scale: 1;
    }
}

#progress-bar-container li {
    font-family: 'Courier New';
	list-style:none;
	float:left;
	width:9%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size: 1.8vw;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

@media (max-width: 650px) {
    #progress-bar-container li {
        height:50px;
    }
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom: -0.7vw;
    font-size: 1.8vw;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#ffffff;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#ffffff;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;   
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#000000;
}

#progress-bar-container #line {
	width:90%;
    left: 4.5%;
	margin:auto;
	background: #7a7a7a;
	height:6px;
	position:absolute;
	top:48px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:0%;
	height:100%;
	background: white;	 
	background: linear-gradient(to right, #ffffff 0%,#ffffff 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
    display: block;
    position: relative;
	width:85%;
	margin: auto;
	background: transparent;
	border-radius: 45px;
    border: #aaa solid 3px;
}

#progress-content-section .section-content {
	padding:30px 30px;
	text-align:center;
}

#progress-content-section .section-content h2 {
    text-align:center;
    font-family:'Akira Expanded Demo';
	font-size: 7vw;
	text-transform:uppercase;
	color:#d50000;
    transition: font-size 0.3s ease, transform 0.3s ease;
}


#progress-content-section .section-content h1 {
    font-family:'Courier New';
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 2px;
	font-size: 4.5vw;
    font-weight: 550;
    letter-spacing: 2px;
	text-transform:uppercase;
	color:#dbdbdb;
    margin-bottom: 20px;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

#progress-content-section .section-content p {
    font-family: 'Abel';
    letter-spacing: 0.025em;
	font-size: 3vw;
	color:#dbdbdb;
    transition: font-size 0.3s ease, transform 0.3s ease;
}


#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* spacer things */
#spacerLine {
    width: 85%;
    height: 1px;
    border: 1px solid #7a7a7a;
}

/* Key Figures Header */
.stripShadowReverse {
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%);
}

#figuresHeader {
    background-image: url(../Assets/People\ Header.png);
    background-size: cover;
    background-position: center;
    font-size: 0;
    flex-shrink: 1;
}

@media (max-width: 500px) {
    #figuresHeader {
        background-position: -250px 0px;
    }
}

#figuresHeader h1 {
    font-family: 'Akira Expanded Demo';
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

@media (max-width: 825px) {
    #figuresHeader h1 {
        color: #d50000;
    }
}

/* Key Figures Container */
.kfContR {
    display: inline-block;
    position: relative;
    top: 80px;
    padding-left: 50px;
    width: 100%;
    height: 384px;
    vertical-align: middle;
    margin-bottom: 20px;
}

@media (max-width: 825px) {
    .kfContR {
        display: flex;
        position: relative;
        flex-direction: column;
        height: min-content;
        margin-bottom: 40px;
    }
}

.kfContL {
    display: inline-block;
    position: relative;
    top: 80px;
    padding-right: 50px;
    width: 100%;
    height: 384px;
    vertical-align: middle;
    margin-bottom: 20px;
}

@media (max-width: 825px) {
    .kfContL {
        display: flex;
        position: relative;
        flex-direction: column;
        height: min-content;
        margin-bottom: 40px;
    }
}

.kfImgR {
    float: right;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.kfImgL {
    float: left;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#dwGriffithIMG {
    shape-outside: url('../Assets/Key\ Figures/1.DW\ Griffith.png');
}

#sEisensteinIMG {
    shape-outside: url('../Assets/Key\ Figures/2.Sergei\ Eisenstein.png');
}

#aHitchcockIMG {
    shape-outside: url('../Assets/Key\ Figures/3.Alfred\ Hitchcock.png');
}

#sKubrickIMG{
    shape-outside: url('../Assets/Key\ Figures/4.Stanley\ Kubrick.png');
}

#sSpielbergIMG {
    shape-outside: url('../Assets/Key\ Figures/5.Steven\ Spielberg.png');
}

#gLucasIMG {
    shape-outside: url('../Assets/Key\ Figures/6.George\ Lucas.png');
}

#qTarantinoIMG {
    shape-outside: url('../Assets/Key\ Figures/7.Quentin\ Tarantino.png');
}

#cNolanIMG {
    shape-outside: url('../Assets/Key\ Figures/8.Christopher\ Nolan.png');
}

#aDuvernayIMG {
    shape-outside: url('../Assets/Key\ Figures/9.Ava\ DuVernay.png');
}

@media (max-width: 825px) {
    .kfImgR {
        shape-outside: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 825px) {
    .kfImgL {
        shape-outside: none;
        margin-bottom: 20px;
    }
}

.kfNameR {
    font-family: 'Akira Expanded Demo';
    color: #d50000;
    font-size: 4vw;
    text-align: right;
    margin-top: 45px;
    margin-bottom: 20px;
    line-height: 4vw;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 825px) {
    .kfNameR {
        font-size: 6vw;
        line-height: 6vw;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.kfParR {
    font-family: 'Abel';
    color: #dbdbdb;
    font-size: 1.8vw;
    text-align: right;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 825px) {
    .kfParR {
        font-size: 3vw;
        margin-right: 20px;
    }
}

.kfNameL {
    font-family: 'Akira Expanded Demo';
    color: #d50000;
    font-size: 4vw;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 20px;
    line-height: 4vw;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 825px) {
    .kfNameL {
        font-size: 6vw;
        line-height: 6vw;
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

.kfParL {
    font-family: 'Abel';
    color: #dbdbdb;
    font-size: 1.8vw;
    text-align: left;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 825px) {
    .kfParL {
        font-size: 3vw;
        margin-left: 20px;
    }
}

/* Technologies */
#techHeader {
    height: min-content;
    font-size: 0;
}

#techHeader img {
    width: 45%;
    height: auto;
    margin-right: -18vw;
    filter: blur(2px) grayscale(100%);
    z-index: 100;
}

#techHeader h1 {
    font-family: 'Akira Expanded Demo';
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 150;
}

@media (max-width: 825px) {
    #techHeader h1 {
        color: #d50000;
    }
}

/* Technologies Containers */
#techR1 {
    height: min-content;
}

.techImgCont {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 250%;
    transition: filter 0.5s;
    filter: grayscale(100%);
}

.hoverCont {
    transition: filter 0.5s, opacity 0.5s;
}

.hoverCont:hover .techImgCont {
    filter: grayscale(100%) blur(5px);
}
  
.hoverCont:hover .techContent {
    opacity: 1;
}

.techShadowT {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(29, 29, 29, 0.00) 100%);
    opacity: 100%;
    transition: all 0.5s;
}

.techShadowB {
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%);
    opacity: 100%;
    transition: all 0.5s;
}

@media (max-width: 650px) {
    .techShadowT, .techShadowB {
        height: 6rem;
    }
}

@media (max-width: 440px) {
    .techShadowT, .techShadowB {
        opacity: 2rem;
    }
}

.techContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier Prime';
    font-size: 6vw;
    line-height: 4.5vw;
    color: #d50000;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s;
    opacity: 0;
}

#techR1C1 {
    background-image: url(../Assets/Technologies/01.Film\ Camera.jpg);
}

#techR1C2 {
    background-image: url(../Assets/Technologies/02.Sound\ on\ Film.jpg);
}

#techR1C3 {
    background-image: url(../Assets/Technologies/03.Technicolor\ Film.jpg);
}

#techR1C4 {
    background-image: url(../Assets/Technologies/04.Videotapes.jpg);
}

#techR1C5 {
    background-image: url(../Assets/Technologies/05.Portable\ Video\ Camera.jpg);
}

#techR2C1 {
    background-image: url(../Assets/Technologies/06.VHS.png);
}

#techR2C2 {
    background-image: url(../Assets/Technologies/07.Camcorder.jpeg);
}

#techR2C3 {
    background-image: url(../Assets/Technologies/08.Digital\ Video.png);
}

#techR2C4 {
    background-image: url(../Assets/Technologies/09.Non-Linear\ Editing\ Systems.jpg);
}

#techR3C1 {
    background-image: url(../Assets/Technologies/10.DVD.jpg);
}

#techR3C2 {
    background-image: url(../Assets/Technologies/11.4k\ Video.jpg);
}

#techR3C3 {
    background-image: url(../Assets/Technologies/12.Digital\ Cinema.jpg);
}

#techR3C4 {
    background-image: url(../Assets/Technologies/13.Online\ Streaming.jpg);
}

#techR3C5 {
    background-image: url(../Assets/Technologies/14.VR.jpg);
}

/* Tech Main Content */
.techIMG {
    width: 100%;
    overflow: hidden;
}

.techIMG img {
    width: 100%;
    max-height: 50vw;
    filter: grayscale(100%);
    box-shadow: 0px 0px 20px #000;
    transition: filter 0.5s;
}

.techIMG:hover img {
    filter: blur(3px) grayscale(100%);
}

.techIMG:hover .techContent {
    opacity: 1;
}

.techMCText {
    padding-left: 40px;
    padding-right:40px;
}

@media (max-width: 650px) {
    .techMCText {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.techMC h1 {
    font-family: 'Akira Expanded Demo';
    font-size: 5vw;
    line-height: 5vw;
    color: #d50000;
}

.techMC h2 {
    font-family: 'Courier Prime';
    font-size: 2vw;
    line-height: 2vw;
    color: #dbdbdb;
}

.techMC p {
    font-family: 'Abel';
    font-size: 2vw;
    line-height: 2vw;
    color: #dbdbdb;
}